<p class="title">Rejestracja</p>

<ion-list lines="full" mode="md">
    <ion-item>
        <ion-input placeholder="login">
            <span slot="label">
                <span class="material-symbols-outlined">person</span>
            </span>
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="email" placeholder="email">
            <span slot="label">
                <span class="material-symbols-outlined">mail</span>
            </span>
        </ion-input>
    </ion-item>

    <ion-item>
      <ion-input  type="tel" placeholder="888-888-8888">
        <span slot="label">
          <span class="material-symbols-outlined">phone</span>
        </span>
      </ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="password" placeholder="hasło">
            <span slot="label">
                <span class="material-symbols-outlined">lock</span>
            </span>
        </ion-input>
    </ion-item>

        <ion-item>
        <ion-input type="password" placeholder="powtórz hasło">
            <span slot="label">
                <span class="material-symbols-outlined">lock</span>
            </span>
        </ion-input>
    </ion-item>
</ion-list>

<ion-button>Zarejestruj</ion-button>

<p class="middle">or</p>

<div class="btn-row">
    <ion-button>google</ion-button>
    <ion-button>apple</ion-button>
</div>