.title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: -20px;
}

.gray {
    color: #999999;
    font-weight: 600;
}

.payment-method {
    margin-top: 40px;
}

.finale-price {
    font-size: 30px;
}

ion-radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;

    ion-radio {
        --border-radius: 4px;
        --inner-border-radius: 4px;
        --color: #ddd;
        --color-checked: #000000;
        font-size: 18px;
        padding-left: 10px;

        &.ios::part(container) {
            width: 20px;
            height: 20px;
            border: 2px solid #ddd;
            border-radius: 4px;
        }

        &.radio-checked.ios::part(container) {
            border-color: #000000;
        }
    }
}

ion-button {
    width: calc(100% - 40px);
    font-weight: 600;
    --background: #000000;
    --background-activated: #333333;
    position: absolute;
    bottom: 25vh;
}