<p class="title">Ilość kwH: <span class="gray">67</span></p>
<p class="title">Cena za kwH: <span class="gray">0,80 zł</span></p>
<p class="title">Lokalizacja: <span class="gray">domyślna</span></p>

<p class="title payment-method">Wybierz płatność:</p>

<ion-radio-group value="cash">
    <ion-radio value="cash">Gotówka</ion-radio>
    <ion-radio value="transfer" disabled>Przelew</ion-radio>
    <ion-radio value="applepay" disabled>ApplePay</ion-radio>
</ion-radio-group>

<ion-button>Zapłać</ion-button>

<p class="title finale-price">Łączna cena: <span class="gray">53,60 zł</span></p>