<p class="title">Ilość kwH: <span class="gray">{{ orderData.kwh }}</span></p>
<p class="title">Cena za kwH: <span class="gray">{{ formatPrice(pricePerKwh) }} zł</span></p>
<p class="title">Opłata za przejazd: <span class="gray">{{ formatPrice(travelFee) }} zł</span></p>
<p class="title">Lokalizacja: <span class="gray">{{ orderData.location === 'current' ? 'domyślna' : 'wpisana' }}</span></p>

<p class="title payment-method">Wybierz płatność:</p>

<ion-radio-group [value]="paymentMethod" (ionChange)="onPaymentChange($event)">
    <ion-radio value="cash">Gotówka</ion-radio>
    <ion-radio value="transfer" disabled>Przelew</ion-radio>
    <ion-radio value="applepay" disabled>ApplePay</ion-radio>
</ion-radio-group>

<ion-button (click)="submitPayment()">Zapłać</ion-button>

<p class="title finale-price">Łączna cena: <span class="gray">{{ formatPrice(orderData.kwh * pricePerKwh + travelFee) }} zł</span></p>