<ion-modal
    [breakpoints]="[0.225, 0.8]" [initialBreakpoint]="0.225" [isOpen]="isOpen" [backdropBreakpoint]="1" [canDismiss]="false" [handleBehavior]="'none'">
    <ng-template>
        <div class="modal-content">
            @if (step == 1) {
                <app-order
                    (orderAccordionOpenChange)="onAccordionChange($event)"
                    (orderSubmit)="onOrderSubmit($event)">
                </app-order>
            }
            @else if (step == 2 && orderData) {
                <app-order-detail
                    [orderData]="orderData"
                    (orderDetailSubmit)="onOrderDetailSubmit($event)">
                </app-order-detail>
            }
            @else if (step == 3 && orderSummary) {
                <app-order-info [orderSummary]="orderSummary"></app-order-info>
            }
        </div>
    </ng-template>
</ion-modal>