<p class="title">Logowanie</p>

<ion-list lines="full" mode="md">
    <ion-item>
        <ion-input [(ngModel)]="email" type="email" placeholder="email">
            <span slot="label">
                <span class="material-symbols-outlined">person</span>
            </span>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="hasło">
            <span slot="label">
                <span class="material-symbols-outlined">lock</span>
            </span>
        </ion-input>
    </ion-item>
</ion-list>

<ion-button (click)="login()" [disabled]="isSubmitting">
    <ion-spinner *ngIf="isSubmitting" name="dots"></ion-spinner>
    <span>Zaloguj</span>
</ion-button>

<p class="middle">or</p>

<div class="btn-row">
    <ion-button (click)="showToast()">
        <img src="assets/icons/google.svg" alt="Google">
    </ion-button>
    <ion-button (click)="showToast()">
        <img src="assets/icons/apple.svg" alt="Apple">
    </ion-button>
</div>

<p class="middle grey line">zapomniałem hasła</p>

<p class="middle">Nie masz konta? <span class="link" (click)="switchToRegister.emit()">Zarejestruj się</span></p>