<p class="title">Logowanie</p>

<ion-list lines="full" mode="md">
    <ion-item>
        <ion-input>
            <span slot="label">
                <span class="material-symbols-outlined">person</span>
            </span>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="password">
            <span slot="label">
                <span class="material-symbols-outlined">lock</span>
            </span>
        </ion-input>
    </ion-item>
</ion-list>

<ion-button>Zaloguj</ion-button>

<p class="middle">or</p>

<div class="btn-row">
    <ion-button>google</ion-button>
    <ion-button>apple</ion-button>
</div>

<p class="middle grey line">zapomniałem hasła</p>