@import 'normalize.css';
@import 'mapbox-gl/dist/mapbox-gl.css';

html {
    overflow: hidden;
    height: 100%;
    
    body {
        margin: 0vh 5% 0px 5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .mapboxgl-ctrl-geolocate {
        display: none;
    }
    
    .mapboxgl-user-location-dot::after,
    .mapboxgl-user-location-dot::before {
        background-color: rgb(34, 34, 34) !important;
    }  
    .mapboxgl-user-location-accuracy-circle {
        background-color: rgba(34, 34, 34, 0.15) !important;
        border: 1px solid rgba(34, 34, 34, 0.4);
    }

    .mapboxgl-user-location-heading {
        display: none !important;
    }

    ion-searchbar {
        padding: 0 !important;

        margin: 0 !important;
        --border-radius: 15px !important;

        .searchbar-input-container {
            height: 50px !important;
        }

        input.searchbar-input {
            height: 50px !important;
        }
    }
}
