<p class="title">Podaj ilość kwH</p>
<p class="price">Cena za 1 kwH: <span>1, 21 zł</span></p>
<ion-item class="input-item">
  <ion-input labelPlacement="floating" type="number">
    <div slot="label">Ilość <ion-text color="danger">(Wymagane)</ion-text></div>
  </ion-input>
</ion-item>

<p class="title">Wybierz Lokalizacje</p>

<ion-radio-group value="custom-checked">
  <ion-radio value="custom-checked">Obecna lokalizacja</ion-radio>
  <ion-radio value="custom">Wpisana lokalizacja</ion-radio>
</ion-radio-group>

<p class="title">Wybierz samochód</p>

<ion-accordion-group #accordionGroup>
  <ion-accordion value="brand">
    <ion-item slot="header" color="light">
      <ion-label>Brand: {{ selectedBrand || 'not selected' }}</ion-label>
    </ion-item>
    <div slot="content">
      <ion-list>
        @for (item of brands; track item.brand) {
          <ion-item button [detail]="false" (click)="selectBrand(item.brand, item.models)">
            {{ item.brand }}
          </ion-item>
        }
      </ion-list>
    </div>
  </ion-accordion>

  <ion-accordion value="model" [disabled]="!selectedBrand">
    <ion-item slot="header" color="light">
      <ion-label>Model: {{ selectedModel || 'not selected' }}</ion-label>
    </ion-item>
    <div slot="content">
      <ion-list>
        @for (model of models; track model) {
          <ion-item button [detail]="false" (click)="selectModel(model)">
            {{ model }}
          </ion-item>
        }
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>

<ion-button>Przejdź do płatności</ion-button>