@if (orderSummary) {
	@if (!acceptedOrder || acceptedOrder.statusId === 'Oczekuje na kierowce' || acceptedOrder.statusId === 'Szukamy kierowcy') {
		<p class="title">Czekamy na kierowcę...</p>
	} @else if (acceptedOrder.statusId === 'Kierowca przydzielony') {
		<p class="title">Samochód przyjedzie za: <span class="gray">{{ etaAmount || 'obliczanie...' }}</span></p>
	} @else if (acceptedOrder.statusId === 'Ładowanie') {
		<p class="title">Kierowca jest na miejscu. Trwa ładowanie...</p>
	} @else if (acceptedOrder.statusId === 'Zakończone') {
		<p class="title">Zlecenie zakończone.</p>
	}
	<ion-progress-bar [buffer]="buffer" [value]="progress"></ion-progress-bar>
	
	<p class="title">Samochód: <span class="gray">{{ orderSummary.brand }} {{ orderSummary.model }}</span></p>
	<p class="title">Ilość kWh: <span class="gray">{{ orderSummary.kwh }}</span></p>
	<p class="title">Lokalizacja: <span class="gray">{{ orderSummary.location === 'current' ? 'obecna' : 'wpisana' }}</span></p>
	<p class="title">Płatność: <span class="gray">{{ orderSummary.paymentMethod === 'cash' ? 'gotówka' : orderSummary.paymentMethod }}</span></p>
	<p class="title">Cena: <span class="gray">{{ formatPrice(orderSummary.totalPrice) }} zł</span></p>
}